.modalCreateListDlg
{
    display: none;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modalCreateListDlg .modal-create-list
{
    position: absolute;
    background-color: #666;
    border: 1px solid black;
    padding: 20px;
    margin: 0;
    width: 19.5%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 1em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

@-webkit-keyframes animatetop
{
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 50%;
        opacity: 1
    }
}

@keyframes animatetop
{
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 50%;
        opacity: 1
    }
}

.modalCreateListDlg button
{
    height: 32px; 
    width: 70px; 
    font-size: 1.1em;
    padding: 0; 
	background: #39c;
	-webkit-transition: 0.25s;
	transition: 0.25s;
	color: #fff;
}

.modalCreateListDlg button:first-child
{
    margin-left: 0;
}

.modalCreateListDlg button:hover,
.modalCreateListDlg button:focus
{
    box-shadow: none;
	outline: none !important;
}

.modalCreateListDlg button:disabled
{
    background-color: gray;
}
/*
.modalCreateListDlg .modal-create-list button
{
    height: 32px; 
    min-width: 100px; 
    font-size: 1.1em;
    padding: 0em 1em 0em; 
    border: 2px solid #fff;
    border-radius: 4px;
    margin-left: 16px;
    background: #39c;
}

.modalCreateListDlg .modal-create-list button:first-child
{
    margin-left: 0;
}

.modalCreateListDlg .modal-create-list button:hover
{
    box-shadow: inset -90px 0 0 0 #17a, inset 90px 0 0 #17a;
}

.modalCreateListDlg .modal-create-list button.active
{
    background: #1a7;
    border-color: #ddd;
}

.modalCreateListDlg > button
{
    width: 32px; 
    height: 32px; 
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: 0;
    font-size: 1.4em;
    background: #fa0;
}
    
.modalCreateListDlg > button:hover,
.modalCreateListDlg > button.focus
{
    box-shadow: inset -16px 0 0 0 #e80, inset 16px 0 0 0 #e80;
}

.modalCreateListDlg > button.active
{
    background: #f55;
    border: 1px solid #ddd;
}
*/
.buttons
{
    text-align: center;
}